html,
body {
   height: 100%;
   font-family: 'Noto Sans', sans-serif;
   /* The html and body elements cannot have any padding or margin */
}

body{
    padding-top: 85px;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px 15px;
  max-width: 30%; 
}


IMG.small-display {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px 15px;
  max-width: 20%;
}

/* Overlay to grey out inactive flags */
/*#overlay-flag {
   display: inline;
}*/

/*#overlay-flag img {
   border: 2px solid #666;
   padding: 1px;
   margin 1px;
}*/

/* Wrapper for page content to push down footer */
#wrap {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   /* Negaitve indent footer by its height */
   margin: 0 auto -60px;
   /* pad bottom by footer height */
   padding: 0 0 60px;
}

/* Set the fixed height of the footer */
#footer {
   height: 60px;
   color: #ccccff;
   background-color: #000000;
}

.carousel {
    margin: 0 auto;
    margin-bottom: 60px; 
    width: 700px;
}

.navbar-nav li a {
    line-height: 50px;
}


.well-fill {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.col-fill {
    margin-bottom: -99999px;
    padding-bottom: 100005px;
}

.col-wrap {
    overflow: hidden;
}
/*.navbar-brand {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
} */

/* Responsive fixes as necessary */
@media (max-width: 767px) {
   #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
      height: 90px;
   }

   IMG.displayed {
       max-width: 100%;
   }

   .carousel {
       width: 100%
   }
}

.container {
   width: auto;
   max-width: 1024px;
   padding: 0 15px;
}

.container .credit {
   margin: 20px 0;
}

.inlinedisplay {
   display: inline;
}

.italictext {
   font-style: italic;
}

.pull-right {
   margin-top: 10px;
   margin-right: 10px;
}


